.sect{
    padding: 100px;
    padding-bottom: 100px;
    background-color:aliceblue;
    /* background-image: "hamburer.png"; */
}

h1{
    text-align: center;
}

.get-started{
    
    margin: 0 auto;
    margin-top: 40px;
    display: block;
    border-radius: 25px;
    border: 2px solid #FFD700;
    padding: 20px;
    width: 150px;
    height: 60px;
    background-color: transparent;
}

.get-started:hover{
    display: block;
    background-color:beige;
}