.home_products_logo{
    width: 400px;
    height: 500px;
    margin-left: 100px;
}

.home_products_container{
    position: relative;
    background-color: #fff;
    border-radius: 15px;
    padding: 73px;
    z-index: 1;
    margin: auto;
    width: 70%;
}

.home_products_content{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.home_products_description{
    display: flex;
    flex-direction: column;
    gap:25px;
    width: 50%;
}

.home_products_list{
    list-style-type: none;
}

.home_products_item{
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-flex;
    gap: 40px;
}

.home_products_image{
    width: 50px;
    height: auto;
    display: inline-block;
}

home_products_item_text{
    display: inline-flex;
}
