.about_container{
    position: relative;
    background-color: #fff;
    border-radius: 15px;
    padding: 73px;
    z-index: 1;
    margin: auto;
    width: 70%;
}

.about_content{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.about_image{
    width: 50%;
    height: 50%;
}

.about_description{
    display: flex;
    flex-direction: column;
    gap:25px;
    width: 50%;
}

.about_title{
    text-decoration: underline;
    text-decoration-color: #FFD700;
    text-decoration-thickness: 4px;
}

.about_button{
    width: 25%;
    height: 40px;
    background-color: #FFD700;
    border-radius: 10px;
    border-color: #FFD700;
    color: white;
}