.clients_content_container{
    margin: 50px 400px;
    justify-content: center;
}

.clients_content_container h3{
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.clients_content_first_line{
    display: flex;
    margin: 20px 0;
}

.clients_content_second_line{
    display: flex;
    margin: 20px 0;
}

.clients_content_third_line{
    display: flex;
    margin: 20px 0;
}

.clients_content_list{
    width: 33%;
}