.contact_map_container{
    margin: 50px 125px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.map-responsive{
    overflow: hidden;
    width: 48%;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-responsive iframe{
    left: 0;
    top: 0;
    border: 0;
    width: 100%;
    position: absolute;

}

.contact_map_contact{
    width: 48%;
}