html {
    scroll-behavior: smooth;
}

body{
    background-color: var(--color-bg);
    width: 100%;
    height: 100%;
}

.container {
    display: block;
    background-color: white;
    align-items: center;
    width: calc(100% - 3rem);
    max-width: 1100px;
    margin: 0 auto;
}

.main_navbar{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: #a993fe;
}

.nav-wrapper{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    z-index: 2;
    padding-left : 10%;
    padding-right: 10%;
}

.nav-content{
    display: flex;
}

.logo{
    width: 3rem;
    height: auto;
}

.menu-items{
    display: flex;
    align-items: center;
    gap:0.5rem;
    list-style: none;
}

.nav-content li{
    margin : 0 1.5rem;
}

.menu-item{
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 500;
    color : #000;
    position:relative;
    cursor: pointer;
}

.menu-item::before{
    content:" ";
    width: 2rem;
    height: 0.2rem;
    background: linear-gradient(90deg, #a993fe 0%, #7e61e7 100%);
    border-radius: 0.5rem;
    position: absolute;
    bottom: -0.6rem;
    opacity: 0;
    transform: translateX(-1.5rem);
    transition: all 0.3s ease;
}

.menu-item:hover::before{
    width: 100%;
    transform: translateX(0);
    opacity: 1;
}

.contact-btn {
    font-size: 0.9rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: linear-gradient(90deg, #a993fe 0%, #7e61e7 100%);
    padding : 0.6rem 2rem;
    border: none;
    outline : 1.5px solid transparent;
    border-radius: 0.2rem;
    cursor: pointer;
    transition: all 0.3 ease;

}

.contact-btn:hover{
    color : #a993fe;
    background: #000;
    outline : 1.5px solid #a993fe;
}


.burger-btn{
    width: 3rem;
    height: auto;
}

.burger-btn{
    display: none;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

  .sect {
    height: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

    

h1{
    text-align: center;
}

.get-started{
    
    margin: 0 auto;
    margin-top: 40px;
    display: block;
    border-radius: 25px;
    border: 2px solid #FFD700;
    padding: 20px;
    width: 150px;
    height: 60px;
    background-color: transparent;
}

.get-started:hover{
    display: block;
    background-color:beige;
}

@media screen and (max-width: 830px){
    .nav-wrapper{
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-content{
        position: absolute;
        right: 0;
        margin-right: 10%;
        flex-direction: column;
        align-items: flex-end;
        gap : 11px;
        z-index: 3;
    }

    .burger-btn{
        display: block;
        cursor: pointer;
    }

    .menu-items{
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 13px;
        border-radius: 10px;
        background: rgb(25,55,109);
        background: linear-gradient(0deg, rgba(25,55,109,0,2) 0%, rgba(25,55,109,1)100%);
        padding: 24px 33px;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0,25);
    }

    .menu-item{
        color: #fff;
    }

    .openMenu{
        display: flex;
        z-index: 1;
    }

}
.about_container{
    position: relative;
    background-color: #fff;
    border-radius: 15px;
    padding: 73px;
    z-index: 1;
    margin: auto;
    width: 70%;
}

.about_content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.about_image{
    width: 500px;
    height: 500px;
}

.about_description{
    display: flex;
    flex-direction: column;
    gap:25px;
    width: 500px;
}

.about_title{
    text-decoration: underline;
    text-decoration-color: #FFD700;
    text-decoration-thickness: 4px;
}

.about_button{
    width: 150px;
    height: 40px;
    background-color: #FFD700;
    border-radius: 10px;
    border-color: #FFD700;
    color: white;
}
.home_services_section{
    background-color: aliceblue ;
    padding-top: 50px;
    padding-bottom: 50px;
}

.home_services_title{
    text-align: center;
}

.home_services_images{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    z-index: 2;
    padding-left : 10%;
    padding-right: 10%;
}

.home_services_image{
    height: 280px;
    width: 280px;
    margin: 50px;
    display: flex;
    align-items: center;
    gap:0.5rem;
    list-style: none;
}
.home_products_logo{
    width: 300px;
    height: 500px;
    margin-left: 100px;
}

.home_products_container{
    position: relative;
    background-color: #fff;
    border-radius: 15px;
    padding: 73px;
    z-index: 1;
    margin: auto;
}

.home_products_content{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.home_products_description{
    display: flex;
    flex-direction: column;
    gap:25px;
    padding-left : 10%;
    padding-right: 10%;
}

.home_products_list{
    list-style-type: none;
}

.home_products_item{
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-flex;
    gap: 40px;
}

.home_products_image{
    width: 50px;
    height: auto;
    display: inline-block;
}

.home_products_item_text{
    display: inline-flex;
}

.home_products_desc {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .home_contact_container {
    border-radius: 5px;
    background-color: aliceblue;
    width: 100%;
  }

  .home_contact_content{
    margin: auto;
    width: 80%;
    position:relative;
    display: flex;
    flex-direction: row;
  }

  .home_contact_description{
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: auto 20px;
  }

  .home_contact_form{
    background-color: #ccc;
    margin: 50px;
  }

  .home_contact_child{
    padding : 30px;
  }


  .form_submit_button{
    margin : auto;
    display: flex;
    justify-content: center;
  }

  .home_contact_title{
    margin-bottom: 20px;
    text-align: left;
    text-decoration: underline;
  }
  .home_clients_section{
    position: relative;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 100px;
    padding-top: 100px;
}

.home_clients_title{
    text-align: center;
    margin-bottom: 60px;
}

.home_clients_second{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 250px;
    margin-right: 250px;
    z-index: 2;
}

.home_clients_first{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    z-index: 2;
}

.home_clients_each{
    display: inline-block;
    padding-right: 50px;
    border-bottom: 1px dotted #888;
}

.home_clients_photos{
    position: relative;
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    z-index: 2;
    width: 500px;
    margin: 0 auto;
    gap: 50px;
}

.home_clients_photo{
    height: 150px;
    width: 150px;
    display: flex;
    list-style: none;
}

.home_clients_button{
    margin: 0 auto;
    margin-top: 35px;
    display: block;
    width: 125px;
    height: 40px;
    border-radius: 10px;
    background-color: #FFD700;
    border-color: #FFD700;
    color: white;
}

.home_clients_ul {
    /* width: 1250px; */
    margin: auto;
    padding-inline-start: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
.home_clients_li {
    width: 200px;
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 50px;
    display: inline-block;
    text-align: center;
    border-bottom: 2px solid black;
    padding-bottom: 3px;
  }

  .clients_content_container{
    margin: 50px 400px;
    justify-content: center;
}

.clients_content_container h3{
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.clients_content_first_line{
    display: flex;
    margin: 20px 0;
}

.clients_content_second_line{
    display: flex;
    margin: 20px 0;
}

.clients_content_third_line{
    display: flex;
    margin: 20px 0;
}

.clients_content_list{
    width: 33%;
}

h2{
    display: block;
}

.contact_header_container{
    margin: 50px 350px;
}

.contact_header_contacts{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.contact_header_img{
    width: 50px;
    height: 50px;
}

.contact_header_detail{
    display: flex;
    flex-direction: column;
}

.contact_map_container{
    margin: 50px 125px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.map-responsive{
    overflow: hidden;
    width: 48%;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-responsive iframe{
    left: 0;
    top: 0;
    border: 0;
    width: 100%;
    position: absolute;

}

.contact_map_contact{
    width: 48%;
}

.contact_group_branch{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.contact_group_img{
    height: 200px;
    width: 200px;
}

.machinery_equipment_title{
    text-align: center;
    margin: 30px 0;
}

.machinery_list_section{
    height: 100%;
    margin: 0;
    background: -webkit-linear-gradient(45deg, #49a09d, #5f2c82);
    background: linear-gradient(45deg, #49a09d, #5f2c82);
    font-family: sans-serif;
    font-weight: 100;
}

.machinery_list_title{
  text-align: center;
  margin: 30px;
}

.machinery_list_container {
    overflow-y: scroll;
    max-height: 600px;
    display: flex;
    justify-content: center;
  }

table {
  width: 800px;
  height: 800px;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
th,
td {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}
th {
  text-align: left;
}
thead th {
  background-color: #55608f;
}
tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
tbody td {
  position: relative;
}
tbody td:hover:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9999px;
  bottom: -9999px;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: -1;
}